header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
header .container > div {
  display: flex;
  gap: 20px;
}

.hero {
  background-image: url("https://static.vinted.com/assets/seller-promotion/gender_test/a/banner-wide-7403f719caac875cfeea61593da7fc7e7320c126193b4ff654e4397f54d430ae.jpg");
  background-size: "cover";
  background-position: center;
  height: 628px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.hero-body {
  max-width: 1200px;
  margin: auto;
  padding-top: 150px;
}
.hero-body > div {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px hsla(0, 0%, 7%, 0.24);
  display: flex;
  flex-direction: column;
  font-size: 34px;
  height: 220px;
  justify-content: space-around;
  padding: 25px;
  position: absolute;
  top: 175px;
  left: calc((100% - 1024px) / 2);
  width: 360px;
  font-family: "Open Sans", sans-serif;
}
.hero > img {
  height: 80px;
  margin-bottom: -20px;
  width: 50%;
}
.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.search-input {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-family: Maison Neue;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 590px;
  margin: auto;
}

.search-input-icon {
  color: #bbb;
  left: 7px;
  position: absolute;
  top: 16px;
}
