.offer-card {
  width: 235px;
  padding: 5px;
}
.offer-card > div:first-child {
  display: flex;
  gap: 10px;
}
.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.offers-bloc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}
.offer-card > img {
  width: 100%;
  min-height: 250px;
  object-fit: contain;
}
